---
Checks: '-*,readability-identifier-naming,modernize-*,readability-redundant-*'
CheckOptions:
  readability-identifier-naming.ClassCase: snake_case
  readability-identifier-naming.StructCase: snake_case
  readability-identifier-naming.EnumCase: snake_case
  readability-identifier-naming.FunctionCase: snake_case
  readability-identifier-naming.VariableCase: snake_case
  readability-identifier-naming.ClassMemberCase: snake_case
  readability-identifier-naming.ClassMemberSuffix: '_'
  readability-identifier-naming.StaticMemberCase: snake_case
  readability-identifier-naming.StaticMemberSuffix: '__'
  readability-identifier-naming.TypedefCase: snake_case
  readability-identifier-naming.TypedefSuffix: '_t'
  readability-identifier-naming.MacroDefinitionCase: UPPER_SNAKE_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_SNAKE_CASE
  readability-identifier-naming.EnumConstantCase: snake_case
...
