[submodule "references/webassembly"]
	path = references/webassembly
	url = git@github.com:WebAssembly/spec.git
[submodule "references/wasi"]
	path = references/wasi
	url = git@github.com:WebAssembly/WASI.git
[submodule "references/wamr"]
	path = references/wamr
	url = git@github.com:bytecodealliance/wasm-micro-runtime.git
[submodule "references/riscv"]
	path = references/riscv
	url = git@github.com:riscv/riscv-isa-manual.git
[submodule "references/llvm"]
	path = references/llvm
	url = git@github.com:llvm/llvm-project.git
