[submodule "docs/references/webassembly"]
	path = docs/references/webassembly
	url = git@github.com:WebAssembly/spec.git
[submodule "docs/references/wasi"]
	path = docs/references/wasi
	url = git@github.com:WebAssembly/WASI.git
[submodule "docs/references/wamr"]
	path = docs/references/wamr
	url=git@github.com:bytecodealliance/wasm-micro-runtime.git
[submodule "docs/references/riscv"]
	path = docs/references/riscv
	url = git@github.com:riscv/riscv-isa-manual.git
[submodule "docs/references/llvm"]
	path = docs/references/llvm
	url = git@github.com:llvm/llvm-project.git
